#container{
  width: 1941px;
  height: 9721px;
  background: rgba(255, 255, 255, 1);
  margin:0px;
  border: solid 1px red;
}
#header{
  width: 100%;
  height: 107px;
  border:0.1px;
  background: rgba(201, 233, 238, 1);
}
#img1{
/* width: 135px;
height: 102.5px; */
margin-top: 35px;
margin-left: 69px;
}
#body nav{
float:right;
width: 793px;
height: 42px;
margin-top: 65px;
margin-right: 80px;
}
#imges{
top: 18.5px;
}
#sam{
  border:0.1px solid red;
  margin-top: 0px;
  width:100%;
  height:1560px;
  /* background-color: aqua; */
}
#rectangle1{
position: absolute;
border: 1px solid black;
border-bottom:white;
border-right: hidden;
width: 1671px;
height: 463.1px;
margin-top: 131.9px;
margin-left: 270px;
z-index: 1;
}
#com2{
  position:absolute;
border:0.1px solid white;
background-color: white;
z-index: 2;
width: 672px;
height: 42px;
margin-top:103px;
margin-left:630px;
font-family: Futura Md BT;
font-size: 70px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0.8960000276565552px;
text-align: center;
color: rgba(69, 69, 69, 1);

}
#com3{
  position: absolute;
  width: 881px;
height: 60px;
  margin-top: 176px;
  margin-left: 510px;
  font-family: Futura Lt BT;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.8960000276565552px;
text-align: center;
color: rgba(217, 217, 217, 1);
}
#com1{
  position: relative;
  width: 283px;
  height: 42px;
  padding-left: 0px;
  margin-top: 362.9px;
  margin-left: 258px;
  margin-bottom:0px;
  font-family: Futura Md BT;
 font-size: 50px;
 font-weight: 400;
 line-height: 42px;
 letter-spacing: 0.8960000276565552px;
 text-align: left;
 color: rgba(91, 91, 91, 1);

}
#com4{
  position:relative;
  width: 520px;
  height: 30px;
  margin-left:258px ;
  margin-top: 12.54px;
  margin-bottom: 0px;
font-family: Futura Lt BT;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.8960000276565552px;
text-align: left;
color: rgba(69, 69, 69, 1);

}
#icons{
  width: 109.4px;
height: 24.1px;
  color: rgba(52, 52, 52, 1);
  margin-top: 245px;
  margin-left: 1767px;
}
#images2{
  position: absolute;
  z-index: 2;

  width:1941px;
  height:150px;
  margin-top:41.9px;
}

#images2 img{
  margin-right: 19px;
}
#onlinedata{
  width:1118px;
  height:187px;
  margin-left: 258px;
  margin-top:45px;
}
#rectangle2{
  position: relative;
  z-index: 1;
  width: 274px;
  height: 372px;
  border: 0.2px solid black;
  border-left: hidden;
  margin-top:-92.46px;
  margin-left:1376px;
}
#complex3{
  position:relative;
  z-index:2;
  width: 604px;
  height: 119px;
  border:0.1px solid black;
  margin-top:-211px;
  margin-left:1260px;
  background-color: white;
}
#cloud{
  position:absolute;
  margin-left:1318px;
  margin-top:-53.29px;
  margin-bottom: 0px;
}

#bookopen{
  position:relative;
  z-index: 2;
  width:1940px;
  height:334px;
  background-color: burlywood;
  margin-top:86px;
}
#bookopen img{
 position: absolute;
 margin-left: 126px;
 margin-top: -152px;
 float:left;
}
#inner{
  width:891px;
  height:58px;
  margin-top:138px;
  margin-right: 371px;
  border:1px solid black;
  float:right;
}

#checkedborder{
  width:1941px;
  height:4873.15px;
  border:0.1px solid black;
  background: rgba(240, 248, 255, 0.4);
  background-color: aqua;
}

#flight{
  margin-top: 88px;
   margin-left: 918px;
}
#cb1{
   width:443px;
   height:42px;
   margin-left: 749px;
   margin-top: 36px;
   font-family: Futura Md BT;
font-size: 70px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0.8960000276565552px;
text-align: center;

color: rgba(69, 69, 69, 1);

}
#cb2{
   width:382px;
   height:30px;
   margin-top: 36px;
   margin-left: 779px;
   font-family: Futura Lt BT;
font-size: 26px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.8960000276565552px;
text-align: center;
color: rgba(69, 69, 69, 1);

}

#checkedborder table{
  width:1711px;
  height:659px;
  border:0.2px solid black;
  margin-left: 115px;
  margin-top: 102.02px;
}

#schoolboardplate{
  background-image: url('https://s3-alpha-sig.figma.com/img/e2a9/b475/4e2d144cb5a4a018c695bed1009cc5aa?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Lut6Hi83m1ms4NNb-qzxucBOqvRl4Rt0Ecnaoeg8EqCtaT5Ykchwi4PhUgNYTQ3kRy2pHsTf3z8UP1jAW2iNSaM0ry4xdJm4DC9qL5mlLQ9iMTe6uOjAtdUwsrnO66IXA9LMf7ER1k1iLKko4BGj~4eNgBYa-mREiC1yWq0fwua5Vc-oRIRzaqBXzBBf8k7x81Cm60F6owvQdGJDNxqNS2pmenjdX81PtMlsRa~an9ZcNfxDPR~um2jnBW7mBoV2SwA8G0HbXZkpdPPH6Zo48SFU9HDBaEXxo5YMtetLRtdOMxESx6WASv5QcDOzsDfAv8kfO4f9w9Fx49l4MmrD2A__');
  /* background-size: 1654px 474px; */
  background-size: cover;
  width:1654px;
  height:474px;
  border:0.2px solid black;
  margin-left: 144px;
  margin-top: 156px;


}
#dis1{
 width: 535px;
 height: 42px;
 margin-left: 703px;
 margin-top: 39.39px;
 font-family: Futura Md BT;
font-size: 70px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0.8960000276565552px;
text-align: center;
color: rgba(69, 69, 69, 1);
}
#dis2{
  width:562px;
  height: 30px;
  margin-left: 689px;
  margin-top: 36px;
  font-family: Futura Lt BT;
font-size: 26px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.8960000276565552px;
text-align: center;
color: rgba(69, 69, 69, 1);

}
#academics{
  width: 1652px;
height: 251px;
/* border: 0.2px solid black; */
margin-left: 147px;
margin-top: 140px;
}
#gallerynewsbox{
  background-image: url('images/Group 176529.png"');
  background-size: cover;
  width: 1941px;
height: 1029px;
margin-top: 114px;
margin-left: 0px;
border:0.2px solid black;

}

#conc{
  position: relative;
width: 1709px;
height: 612px;
border: 0.2 solid black;
}

#gallerynewsbox button{
position:relative;
width: 247px;
height: 58px;
margin-top: 837px;
margin-left: 847px;
border: 1px solid rgba(0, 0, 0, 1);
background: rgba(255, 255, 255, 1);
}

#clock{
  margin-top: 126px;
  margin-left: 928px;
}
#left1{
  position:absolute;
  width:1225px;
  height:816px;
  z-index: 2;
  margin-left: 0px;
  /* background-color: white; */
}
#left2{
  position:absolute;
  margin-left:737px;
  z-index: 1;
  background-image: url('https://s3-alpha-sig.figma.com/img/46a7/55c7/d38bd394dc44c8abfc1b5fc2c68fe7b2?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nqni1m-GZK9BeqH-UdWa~O1hd4y~zGw2zU5gJLIhvteRMcmRwKVsCjzaPqgAWpPbZFYSTX5B9W9fB1l8G3wlN4Qh5Exl9tIY89JM~rClmuEW32zdPdA2zmM1N9rFwqfg~5zm1Nlup48WKCsOrSKLtyiSPX1POQM7kgmb1sZJafsDVzzh71Wmoyn9GGVV9i9d-Ugq-jpj5WBVz97usUsXjXpUvxqjsxGCVs8e0ew8USv4Rb1zVAIckZODXx4zUShZpyV54huaH78rSAupYOWCWnDAUhQYSfDKbgwFjDPTH~paObMQLRRIHqVrDrZFJfuW2QJjhuTynJYSQ~Ydq-t7cA_');
  background-size: cover;
  height:816px;
  width:1200px;
  background-color: bisque;
}

#idea{
  margin-left: 121px;
  margin-top: 141px;
}
#idea1{
  width:398px;
  height:42px;
  margin-left: 109px;
  margin-top:54.8px;
  /* border :0.2px solid black; */
  font-family: Futura Md BT;
font-size: 70px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0.8960000276565552px;
text-align: left;
color: rgba(69, 69, 69, 1);

}
#idea2{
  width:382px;
  height:30px;
  margin-left: 109px;
  margin-top: 33px;
  /* border:0.2px solid black; */
  font-family: Futura Lt BT;
font-size: 26px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.8960000276565552px;
text-align: left;
color: rgba(69, 69, 69, 1);

}
#quote{
  width:1108px;
  height:382px;
  border:0.2px solid black;
  background: rgba(208, 237, 252, 1);

}
#quote img{
  position: absolute;
  margin-left: 79px;
  margin-top: 65px;
}
#quotecontent1{
  position: absolute;
  width: 130px;
  height: 36px;
  margin-left: 923px;
  margin-top: 55px;
  font-family: Futura Lt BT;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: rgba(69, 69, 69, 1);
  /* border:0.2px solid black;   */
  
  
  
}
#quotecontent2{
  position: absolute;
  width: 906px;
  height: 144px;
  margin-left: 88px;
  margin-top: 158.97px;
  font-family: Futura Bk BT;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: rgba(69, 69, 69, 1);
  
  /* border:0.2px solid black;   */
}


#inquiretoday{

  width: 1941px;
height: 445.15px;
border:0.2px solid black;
  margin-top: 810px;
  background-color: white;
  background-image: url('images/Group 176513.png');
  background-size: cover;
  
}

#inquiretoday img{
  position: absolute;
  margin-top:102px ;
  margin-left:927px ;
}

#it3{
  position: absolute;
  width: 443px;
height: 111.08px;
/* border: 0.2px solid black; */
margin-left:749px; 
margin-top:230px;
}
#it2{
  margin-top: 30px;
  margin-left: 25px;
  margin-bottom: 0px;
  width: 382px;
height: 30.86px;
font-family: Futura Lt BT;
font-size: 26px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.8960000276565552px;
text-align: center;
color: rgba(69, 69, 69, 1);


}
#it1{
  margin-top: 0px;
  margin-bottom: 0px;
  width: 443px;
height: 43.2px;
font-family: Futura Md BT;
font-size: 70px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0.8960000276565552px;
text-align: center;
color: rgba(69, 69, 69, 1);


}

#img10{
  margin-top: 0px;
  margin-left: 0px;;
  overflow-x: hidden;
}
#flo{
  margin-left: 868px;
  margin-top: 68.85px;
}
#bluebackground{
  background-image: url('https://s3-alpha-sig.figma.com/img/401e/0f2e/f1a6603318c97950157d16865e1f23c0?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GG8ZKq2wHSWeN8AxcodLQbhbsPZDG6Q4Vsky1pHHq~3Hr3pMc3xy0jFPRaXO7P-E70Ubi6qHYcf9iCB3ShT18liJwG9-o7nuCbfn-X4iRQNv1qqlJedY6Ef2eQH6ByUgdKP0OMNsN~5ytjzkJjcaWjxpxvmcWLpKxc9exJ5tKBHqVWDRO9AQOIu4t5VFHaTSBcG8qfqXtB0wZdzm8XXkIt5M7hHDgJYjiE0D2wMHkKJLo4TZzB280RVi-E06RZoQ4F08FlwCO96AjDc9UnTLro8S~6uSCF4uDKlrDvOgmo9AuAiOKnqHYG6fXZcskYIi6ZSbZ3dtKonUE2P36RWp8A__');
  background-size: cover;
width: 1940px;
height: 470px;
border: 0.2px solid black;
margin-top:68.85px;
}

#studyingimageform{
  background-image: url('https://s3-alpha-sig.figma.com/img/a2d5/7513/94e810f3d2883ca3b0441ba4a87912d2?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=dIRoaHvRxnnl32UfhmluvugTtKiE5zh4pJG80Ts~2zQiemfsVHfTURfTBamiViVKpNcv5DDvn3FpbOfpjcFHfSRXX~QgmqE2hHkc-r6NxtNlanUAHBF8-ZRFbIhSOhFBHHLgcBEzG~U~8wrAPnuKZz~R5GytO3w1D0TTU-E8xH3G4vGPqYb1KCDUgqqLWENf1qBiLmTPhzFHyMYcvJhQ~GHqp4vm~PGnnS4Vz3hP2co~NbWj6Ri6fI4EXWTqaCwaZ0p7TmXiLNouS1gnlgx6kLc4~KGb11iXdm93Vg5u9MNIZiB-5nvQIZx8VYztUzdn7zGA2OgEzQJVQI7R2dl2~w__');
  background-size: contain;
  position: relative;
  width: 1940px;
height: 1292px;
border: 0.2px solid black;
margin-top: 70px;
}
#bbtitle{
  position: absolute;
  width: 672px;
height: 42px;
margin-left: 651px;
margin-top: 140px;
font-family: Futura Md BT;
font-size: 70px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0.8960000276565552px;
text-align: left;
color: rgba(255, 255, 255, 1);
}
#bbcontent{
  position: absolute;
  width: 742px;
height: 60px;
margin-left: 616px;
margin-top: 211px;
font-family: Futura Bk BT;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.8960000276565552px;
text-align: center;
color: rgba(255, 255, 255, 1);
}
#bluebackground button{
position: absolute;
width: 250px;
height: 58px;
margin-top: 325px;
margin-left: 862px;
background: rgba(255, 255, 255, 1);

}










* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
